{% extends "bootstrap_5_layout.html" %}
{% set active_page = "golfstats" %}

{% block content %}

    <h1>Course History</h1>

    <p>Here you can see your stats from prior rounds</p>

    <div class="container mt-4">
        <h1 class="mb-4">Golf Statistics</h1>
        <p class="lead">Average Strokes Per Hole: {{ data.average_strokes_per_hole }}</p>
        <p class="lead">Average Putts Per Hole: {{ data.average_putts_per_hole }}</p>
        <p class="lead">Percentage of Fairways Hit: {{ data.fairways_hit_percentage }}%</p>
    </div>

{% endblock %}
